.carosel{
   margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
    height:80vh;
   width: 70vw;
}

/* .carosel{
   margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
    height: 560px;
   width: 1000px;
} */