.main-window-card {
    border: 1px none;
    height: 515px;
    width: 257px;
}

.main-window-card .div {
    -webkit-backdrop-filter: blur(50px) brightness(100%);
    backdrop-filter: blur(50px) brightness(100%);
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(254.89, 254.89, 254.89, 0.3) 53.12%,
            rgba(254.79, 254.79, 254.79, 0.2) 100%);
    border-radius: 50px;
    height: 515px;
    position: relative;
}

.main-window-card .topic {
    height: 45px;
    left: -9px;
    position: absolute;
    top: 28px;
    width: 277px;
}

.main-window-card .overlap-group {
    height: 45px;
    position: relative;
    width: 275px;
}

.main-window-card .rectangle {
    height: 45px;
    left: 31px;
    position: absolute;
    top: 0;
    width: 212px;
}

.main-window-card .super-x-train {
    color: #281c1c;
    font-family: "Roboto-CondensedBold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 9.4px;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 275px;
}

.main-window-card .superx {
    height: 231px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 81px;
    width: 257px;
}

.main-window-card .overlap {
    border-radius: 50px;
    height: 54px;
    left: 14px;
    position: absolute;
    top: 438px;
    width: 229px;
}

.main-window-card .div-2 {
    -webkit-backdrop-filter: blur(50px) brightness(100%);
    backdrop-filter: blur(50px) brightness(100%);
    background: linear-gradient(180deg,
            rgba(49.73, 49.73, 49.73, 0.2) 0%,
            rgba(225.55, 255, 188.06, 0.3) 53.12%,
            rgba(254.79, 254.79, 254.79, 0.2) 100%);
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0) 33.33%,
            rgba(8.29, 7.46, 7.46, 0.3) 68.75%,
            rgba(0, 0, 0, 0) 100%,
            rgba(255, 255, 255, 0) 100%) 1;
    border-radius: 50px;
    height: 54px;
    left: 0;
    position: absolute;
    top: 0;
    width: 229px;
}

.main-window-card .text-wrapper {
    color: #000000;
    font-family: "Fira Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 61px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14px;
    white-space: nowrap;
}

.main-window-card .mode-luxury-train-wrapper {
    -webkit-backdrop-filter: blur(50px) brightness(100%);
    backdrop-filter: blur(50px) brightness(100%);
    background: linear-gradient(180deg,
            rgba(183.69, 31.91, 186.79, 0.37) 0%,
            rgba(253.73, 246.62, 76.12, 0.3) 53.12%,
            rgba(10.97, 164.48, 26.32, 0.2) 100%);
    border-radius: 50px;
    height: 102px;
    left: 14px;
    position: absolute;
    top: 326px;
    width: 229px;
}

.main-window-card .mode-luxury-train {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 68px;
    left: 14px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 16px;
    width: 201px;
}