/* Styling for h3 element */
h3 {
    font-weight: 300;
    /* Thin font weight */
}

/* Styling for h1 element */
h1 {
    color: #00008B;
    /* Dark blue color (#00008B is a shade of dark blue) */
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    /* Adjust as needed */
    text-align: center;
}